:root{ /* Псевдоклассы — это специальные "добавки" 
    к CSS-селекторам, которые позволяют изменять стиль 
    элементов на веб-странице в зависимости от их состояния 
    или положения.*/
    --secondary-color: #e9e9e980; /* Вторичный цвет */
    --text-color: rgb(123, 119, 119);
}  

#language{
    position: absolute;
    top: 58%;
    left: 220px;
    transform: translate(-50%, -50%);
    background-color:  rgb(56, 55, 53);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #b5b5b5;
    width: 100px;
}

#language:hover{
    color: #dedede;
    background-color: var(--secondary-color);
}

#Reboot{
    position: absolute;
    top: 58%;
    left: 90px;
    transform: translate(-50%, -50%);
}

#WORDCOUNT{
    position: absolute;
    top: 58%;
    left: 400px;
    transform: translate(-50%, -50%);
}

.WordCount{
    background-color:  rgb(56, 55, 53);
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #b5b5b5;
}

.WordCount:hover{
    color: #dedede;
    background-color: var(--secondary-color);
}
.WordCount2 {
    color: #dedede;
    background-color: var(--secondary-color);
}

/* #play{
    background-color: transparent; 
    color: #dedede;
    border: none;
    position: absolute;
    z-index:1;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 75px; 
    display: block;
} */

#pole {
    position: absolute;
    z-index:0;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */ 
    width: 85%;
    height: 89px; 
 /*    background-color:  rgb(75, 72, 69) ;   */ 
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 23px;
    color: var(--text-color);
    /*  filter: blur(10px);  */
    overflow: hidden; /* скрывает переполнение контейнера */
    scroll-behavior: smooth; /* Плавная прокрутка всегда */
}

#pole:focus {
    outline: none;
  }

#cursor{
    position: absolute;
    display: none;
    transition: all 0.2s ease-out;
}

.correct{
 color: #dedede;
}

.incorrect{
 color: rgb(180, 53, 53);
}

.word {
    display: inline-flex;
    margin-right: 11px; /* Горизонтальный отступ */
    margin-bottom: 18px; /* Вертикальный отступ между строками */
  }

 @media(min-width:900px){ /* если будет больше 780 > применяются слудующие условия */
 #pole{
    width: 60%;
 }

 #language{
    left: 40%;
 }
 #WORDCOUNT{
    left: 60%;
 }
} 

body{
     /* background-image: url('image (11) (2).png');
    background-size: cover;  */
    background-color: rgb(45, 44, 42);  
    font-family:Arial, Helvetica, sans-serif ;
    color: #fdfdff;
    margin: 0;
    /* background-image: url('image (25).png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Изображение будет заполнять весь экран, сохраняя пропорции */
    background-position: center; /* Центрируем изображение */
    height: 100vh; /* Высота 100% от высоты окна */
    width: 100vw; /* Ширина 100% от ширины окна */ 
    user-select: none;  /* Блокирует выделение текста */
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none;    /* Для Firefox */
}

#H1{
    background-color: var(--secondary-color);
 } 

h1{ 
    margin: 0;
    padding: 15px ; 
}

#MenuButtom{ 
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    border: none; 
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer; 
}

#Menu{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: -250px;
    transition: right 0.4s ease;
    background-color: rgba(57, 56, 56, 0.9);
    z-index:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Menu.open {
    right: 0; /* прижат к правой стороне */
}

.menu{
   background-color: transparent; /* прозрачный фон */
   border: none;
   border-radius: 10px;
   cursor: pointer; 
}

.menu:hover{
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
}


.vod{
    border-radius: 8px;
    padding: 6px;
   
}

input{
    border: none;
}

input:focus{
    outline: none;
    border: none;
}

#modal1{
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cotaiterModal1{
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 300px; 
    width: 400px; 
    background-color: rgba(177, 174, 174 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 10px;
}

.Q{
 padding: 20px;
 color: #ffffff;
 background-color: rgb(142, 140, 140);
 border: none;
 font-size:17px ;
 font-family: Arial, Helvetica, sans-serif;
 border-radius: 16px;
 width: 350px;
 height: 60px; 
 cursor: pointer;
}

.Q:hover {
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
}

#modal2 {
    display: none;
    position: fixed; 
    z-index:5;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

#cotainterModal2 { 
    padding: 20px; /* Отступы снаружи */
    background-color:  rgba(177, 174, 174 ); 
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 85%; 
    width: 60%; 
    border-radius: 16px;
    overflow-y: auto;
}

.button-container {
    display:flex;
    justify-content: center;
}

.button-container button{
  color: #dedede;
  background-color:  rgb(142, 140, 140);
  border-radius: 16px;
  border: none;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button-container button:hover{
 border-width: 2px;
 border-color: #dedede;
 border: solid;
}

.Close {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 10px; 
    font-size: 24px;
    color: #dedede;
}

#Table {
    max-width: 600px; /* Максимальная ширина таблицы */
    margin-left: 0; /* Убираем отступ слева */
    border-collapse: collapse; /* Убираем пробелы между ячейками */
}

#TABLE{
    display: flex;
    justify-content: center;
}

#Table th, #Table td {
    padding: 10px; /* Отступы внутри ячеек */
    border: 1px solid #ccc; /* Граница ячеек */
    text-align: center; /* Выравнивание текста по центру */
}

#keyboard {
    display: flex; /* 3 блока выстраиваются в линию  */
    flex-direction: column; /* потом в вертикаль */
    gap: 8px; /* вертикальный отступ */
    color: var(--secondary-color);
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
  
.line {
    display: flex; /*но уже содердимое контейнера в горизонталь */
    justify-content: center; /* располагается по середине */
    gap: 10px; /* Расстояние между клавишами */
    margin: 0;
    padding: 0;
} 

.key {
    width: 35px;
    height: 35px;
    border: var(--secondary-color);
    border-style: solid; /* сплошная граница */
    border-width: 2px;
    border-radius: 10px;
    display: flex;
/* просто идеально центрурует букву внутри кнопки */
    align-items: center;
    justify-content: center; 
    gap: 8px;
} 
@media(max-width:570px){
    #keyboard{
    display: none;
    }

    #WORDCOUNT{
        left: 370px;
    }
     }

.migaet {
    background-color: rgb(126, 126, 125);
}

#modal3{
   display: none;
   z-index: 4;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0, 0.7);
}

#cotainterModal3{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%); 
    background-color: rgb(104, 98, 98);
}

#cModal3{
    height: 200px;
    width: 300px;
    background-color: rgb(130, 141, 141);
}
