.W {
    color: #8a8a93;
    background-color:  rgb(75, 72, 69);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
   }
   
   .W:hover{
       color: #fdfdff;
   }

#pole {
    position: absolute;
    z-index:0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */ 
    width: 60%;
    height: 30px; 
    background-color: rgb(75, 72, 69);
    border-radius: 16px;
    padding: 20px;
}



body{
    background-color: rgb(45, 44, 42);
    font-family:Arial, Helvetica, sans-serif ;
    color: #fdfdff;
    margin: 0;
}
/* 61, 73, 63    53, 48, 48  34, 38, 44    47, 42, 42  34, 31, 31*/
/* h1{
     margin: 25px auto auto 10%   
    /* background-color: rgba(140, 132, 132, 0.5); */

#H1{
    background-color: rgba(140, 132, 132, 0.5); 
    

} 

#menu{
    position: fixed;
    width: 250px;
    height: 100%;/*  */
    top: 0;
    right: -250px;
    transition: right 0.4s ease;
    background-color: rgba(188, 183, 183, 0.8);
    z-index:1;
}

#menu.open {
    right: 0; /* прижат к правой стороне */
}

#MenuButtom{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    border: none; /* Убираем границы */
    background-color: transparent; /* Сделать фон прозрачным, если нужно */
    padding: 10px 20px;
    cursor: pointer; 
    color: #fdfdff;
}

#modal1{
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cotaiterModal1{
    transition: opacity 0.5s ease; 
    position: relative;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */ 
    height: 300px; /* высота контейнера  */ 
    width: 400px;  /* Ширина контейнера  */
    top: 50%;
    background-color: rgba(157, 152, 152, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 10px;
}

.Q{
 padding: 20px;
 color: #ffffff;
 background-color: rgb(116, 110, 110);
 border: none;
 font-size:17px ;
 font-family: Arial, Helvetica, sans-serif;
 border-radius: 16px;
 width: 350px;
 height: 60px; 
 cursor: pointer;
 /* transition: background-color 0.3s; */
}

.Q:hover{
    /*  background-color: rgb(54, 55, 58); */
       color: #fdfdff;
   /*  transform: translateY(-5px);  Выдвигаем кнопку вверх 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */ 
}

#modal2 {
    display: none;
    position: fixed; 
    z-index:5;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

#cotainterModal2 { /* Исправлено имя на containerModal */
    padding: 20px; /* Отступы снаружи */
    background-color:  rgb(75, 72, 69); 
    position: relative;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */ 
    height: 85%; /* Высота контейнера */
    width: 60%; /* Ширина контейнера */
    overflow-y: auto;
    border-radius: 16px;
}

.button-container {
    display:flex;
    justify-content: center;
}

.button-container button{
  color: #dedede;
  background-color: rgb(140, 136, 130);
  border-radius: 16px;
  border: none;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#close {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Положение кнопки закрытия */
    right: 10px; 
    font-size: 24px; /* Размер шрифта */
    color: #dedede;
}

#Table {
    max-width: 600px; /* Максимальная ширина таблицы */
    margin-left: 0; /* Убираем отступ слева */
    border-collapse: collapse; /* Убираем пробелы между ячейками */
}

#TABLE{
    display: flex;
    justify-content: center;
}

#Table th, #Table td {
    padding: 10px; /* Отступы внутри ячеек */
    border: 1px solid #ccc; /* Граница ячеек */
    text-align: center; /* Выравнивание текста по центру */
}

 #keyboard {
    display: flex;
    flex-direction: column;
 } 
 
